# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../BT_Point2D&Point3D\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\BT_Point2D&Point3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
